.div-carrossel{
    margin-top: 30px;
    @include display-flex(center,center);
}

.conteiner-botoes {
    width: 100%;
    @include display-flex(center, center);
}

.botoes {
    margin-top: -200px;
    width: 72%;
    @include display-flex(center, space-between)
}

.botao-antes-depois{
    border: solid 5px white;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    @include display-flex(center, center);
    background-color: $corAzul;

    .previous-next{
        margin-top: 6px;
        font-size: 25px;
        text-decoration: none;
        color: white;
    }
}

.tamanho-imagem{
    height: 370px;
    width: 70%;
    object-fit: cover;
    object-position: center;
}