.footer-images {
    @include display-flex (center,center);
    
}

.titulo-footer {
    font-family: $fontTitulos;
    color: $corAzul;
    margin-top: 24px;
    padding-top: 24px;
    padding-left: 180px;
}

.img-footer {
    width: 85%;
    padding: 20px;
}

footer p {
    color:  $corAmarelo;
}

.copyrigth {
    background-color: #01008C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
    width: 100%;
    height: 35px;
}

.amarelo {
    background-color: $corAmarelo;

}


