.footer-images {
    background-color: $corAmarelo;
    
}

.titulo-footer {
    font-family: $fontTitulos;
    color: $corAzul;
    margin-top: 24px;
    padding-top: 24px;
}

footer p {
    color:  $corAmarelo;
}

.copyrigth {
    background-color: $corAzul;
}



