.footer-images {
    @include display-flex (center,center);
    width: 70%;
    text-align: center;
}
.amarelo {
    background-color: $corAmarelo;
    width: 100%;
    @include display-flex (center,center);
    flex-direction: column;
}

.conteiner-rodape {
    width: 100%;
    background-color: $corAmarelo;
    margin-top: 94px;
    @include display-flex (flex-start,center);
}
.titulo-footer {
    font-family: $fontTitulos;
    color: $corAzul;
    background-color: $corAmarelo;
    margin-top: 24px;
    padding-top: 24px;
    margin-bottom: 0px;
    text-align: left;
    width: 70%;
}

.img-footer {
    width: 85%;
    padding: 20px;
}

.p-left {
    color:  $corAmarelo;
    margin: 0;    
}

.copyrigth {
    background-color: #01008C;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
    width: 100%;
    height: 55px;
}




