@mixin btn-amarelo {
    
}

@mixin btn-whats {
    background-color: $corVerde;
    border: none;
    color:white;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

@mixin display-flex($align-items, $justify-content) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}