@mixin display-flex($align-items, $justify-content) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
<<<<<<< HEAD
=======
}

@mixin paragrafo-sobre($cor,$font-size) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-size;
    color: $cor;
}

@mixin titulo-sobre($cor,$font-size,$background) {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: $font-size;
    background-color: $background;
>>>>>>> be69e9fcf248d05453ad111d06bced1d90780208
}