.container{
    margin: 0 auto;
    width: 75%;
}

h2 {
    @include display-flex(center,center);
    @include titulo-sobre($corAzul,18px,$corAmareloClaro);
    width: 50%;
}

p {
    @include paragrafo-sobre($corAzul,14px,10px);
    width: 75%;
}
